<h1 class="text-center h1 m-4">Контакти</h1>
<table>
    <tr>
        <th>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23463.7967699739!2d23.204087463208566!3d42.68308044459079!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa9b188c5c55bb%3A0x60b52765b359793e!2z0LYu0LouINCe0LLRh9CwINC60YPQv9C10LsgMtCe0LLRh9CwINC60YPQv9C10LssIDE2MzIg0KHQvtGE0LjRjw!5e0!3m2!1sbg!2sbg!4v1707730542768!5m2!1sbg!2sbg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </th>
        <th class="pl-4">
            <h4 class="h4">Тел.номер:0889354632</h4>
            <h4 class= "h4">Имейл:e.stankova2019@pmg-pernik.com</h4>
        </th>
    </tr>

    
</table>
