@{
    ViewData["Title"] = "Политика на личните данни";
}
<h1>@ViewData["Title"]</h1>
<h2>Какво са „бисквитки“:</h2>

<p>
    „Бисквитките“ са малки текстови файлове, които се запазват на Вашия компютър или мобилно устройство. Функцията на „бисквитките“ е да Ви разграничат от останалите потребители на същия уеб сайт или да запазят определена информация, свързана с Вашите предпочитания. Използват се от повечето сайтове, за да улеснят Вашето сърфиране.
    Всяка „бисквитка“ е уникална за Вашия браузър и съдържа анонимна информация. Съдържанието включва наименованието на домейна, от която идва, „продължителността на живота“ й и стойност, обикновено под формата на произволно генериран номер.
</p>

<h2>
    Какви видове използваме и за какво са предназначени:


    Сигурност и идентифициране
</h2>
<p>
    Целта на „бисквитките“, предназначени за сигурност на връзката, е:
    - Да разпознаят потребителя в рамките на конкретната сесия;
    - Да контролират сигурността;
    - Да гарантират, че информацията, която потребителя въвежда, се вижда единствено от него

    Бисквитките за сигурност и идентифициране се изтриват автоматично след прекратяване на сесията на Вашия браузър и ли се пазят за ограничено време с цел осигуряване на безпрепятствена работа със сайта. Важно е да се отбележи, че тези, както и останалите видове бисквитки на сайта, не съхраняват въведените лични данни.
</p>
<h2>
    Управляване и изтриване на „бисквитки“
</h2>
<p>
    Моля, имайте предвид, че голяма част от „бисквитките“, които използваме, ще подобрят сърфирането Ви в нашия уебсайт, а останалата част са важни за гарантиране сигурността на достъпа.


    В зависимост от използваният браузър Вие имате възможност:



    - Да разрешите или откажете съхранението на бисквитки от всички източници;
    - Да настроите известие, което при всяка нова "бисквитка" ще иска разрешение за приемане или отказване;
    - Да изберете кои "бисквитки" да позволите от Настройките


    Повечето браузъри са настроени да приемат „бисквитки“ по подразбиране. Въпреки това, ако не желаете "бисквитките" да бъдат съхранявани на Вашия компютър, Вие имате възможност да ги ограничите чрез промяна на настройките.
</p>